<div class="row">
  <div class="col sm">
    <h1>Beer Menu</h1>
  </div>
</div>

<div class="row">
  <div class="col sm">
    + Add a beer
  </div>
</div>

<div class="row">

  {{#each beers}}
    <div class="col-sm-4">
      <div class="card text-center bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">{{name}}</div>
        <div class="card-body">
          <h5 class="card-title">{{abv}}</h5>
          <p class="card-text">{{company}}</p>
          <a href="#" class="btn btn-primary">Submit a Review</a>
        </div>
      </div>
    </div>
  {{else}}
    <div class="col-sm-12 text-center">
      <h1>No Beers</h1>
    </div>
  {{/each}}

</div>
