<div class="jumbotron">
  <h1 class="display-4">Virtual Beer Score Sheets</h1>
  <p class="lead">Rapidly smashed together beer scoring sheets for the virtual beer tasting session.  Likely flakey as fook and it's totally missing any kind of user authentication.</p>
  <hr class="my-4">
  <p>Just jump straight to the beer menu and add some beers!</p>
  <a class="btn btn-primary btn-lg" href="/beer" role="button">Visit the menu</a>
</div>
